body {
    background-color: #00202A;
    z-index: 0;
    height: 3000px;
    color: white;
}

.header {
    background-color: #0C0C0D;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.footer {
    background-color: #0C0C0D;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    
}

.sidebar {
    background-color: red;
    position: relative;
    z-index: 1;
    width: 250px;
    height: 800px;
    top: 150px;
    left: 30px;
    display: inline-block;
}

.main-container {
    background-color: blue;
    position: relative;
    z-index: 1;
    width: calc(100% - 330px);
    height: 800px;
    top: 150px;
    left: 50px;
    right: 30px;
    display: inline-block;
}